.wrapper { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.cell {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;
}

.additionalServices {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
    justify-content: space-between;
}

.servicesTitle {
    width: 60px;
}

.servicesCountTitle {
    width: 140px;
}

.servicesInput {
    width: 20px;
    height: 20px;
}

.serviceCount {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}

.serviceInput {
    height: 20px; 
    width: 70px; 
    text-align: center;
}

.countResult {
    margin: 0;
}