.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.commonStyle {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(155, 206, 93, 1);
  border-bottom: 1px solid rgba(155, 206, 93, 1);
  padding: 20px 0;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.order {
  text-align: center;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 20px 0;
}

.image {
  width: 20%;
  height: auto;
  border-radius: 5px;
}

.text {
  width: 60%;
}

h3 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }

  .text {
    width: 80%;
  }

  .commonStyle {
    padding: 0 0 20px 0;
  }
}
